autoreconf.after
autoreconf.before
files
libzip-dev.debhelper.log
libzip-dev.substvars
libzip-dev/
libzip4.debhelper.log
libzip4.postinst.debhelper
libzip4.postrm.debhelper
libzip4.substvars
libzip4/
tmp/
zipcmp.debhelper.log
zipcmp.substvars
zipcmp/
zipmerge.debhelper.log
zipmerge.substvars
zipmerge/
ziptool.debhelper.log
ziptool.substvars
ziptool/
